<!DOCTYPE html>
<html>
<head>
  <title>Mr. Copyright</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <section>
  <h1>Mr. Copyright bot policy</h1>
  <h3>NOTE: This bot is a project that will be presented at <a target="_blank" href="http://2016.euhackathon.eu/">EUHACKATHON2016</a> in bruxelles sponsored by <u>Facebook</u>. </h3>
    <ul>
      <li>Every data that we collect is only used for the purpose of the Hackathon.</li>
      <li>Nothing will be shared.</li>
      <li>After the Hackathon, every data will be permanently deleted.</li>
  </section>


</body>
</html>
